<h1 class='file-upload-form__title'>Загрузите изображение</h1>
<label for='file' class='file-upload-form__link'>Выбрать файл на компьютере (до
  1 Мб)</label>
<p class='file-upload-form__file-name'></p>
