<section class='auth-form__card'>
  <form class='auth-form'>

    {{>
      formField
      label='Старый пароль'
      type='password'
      id='old-password'
      name='oldPassword'
      placeholder='Старый пароль'
      isRequired=true
      errorMessage='Неверный пароль'
    }}

    {{>
      formField
      label='Новый пароль'
      type='password'
      id='new-password'
      name='newPassword'
      placeholder='Новый пароль'
      isRequired=true
      errorMessage='Введите пароль'
    }}

    {{>
      formField
      label='Новый пароль (еще раз)'
      type='password'
      id='confirm-password'
      name='confirmPassword'
      placeholder='Новый пароль'
      isRequired=true
      errorMessage='Пароли не совпадают'
    }}

    <button type='submit' class='auth-form__button'>Сохранить</button>
  </form>
</section>
