<header class='chat-main__header'>
  <div class='chat-main__header-left'>
    <span class='chat-main__avatar'>
      <img src={{chat.avatar}} alt='Аватар чата' />
    </span>
    <span class='chat-main__name'>
      <h1>{{chat.name}}</h1>
    </span>
  </div>
  <div class='chat-main__header-right'>
    <div data-block-id='updateChatsMenu'></div>
  </div>
</header>
<div class='chat-main__messages-list'>
  <div data-block-id='messagesList'></div>
</div>
<div class='chat-main__message-form'>
  <div data-block-id='messageForm'></div>
</div>
<div data-block-id='sendFileModal'></div>
