.chat-main {
  min-width: 75%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-main__header {
  position: fixed;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-color);
  background-color: var(--white-color);
}

.chat-main__avatar {
  width: 50px;
  height: 50px;
  background-color: var(--gray-color);
  border-radius: 50%;
  margin-inline-end: 0.75em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.chat-main__messages-list {
  padding-top: 5em;
}
