<header class='chat-main__header'>
  <div data-block-id='currentChatData'></div>
  <div class='chat-main__header-right'>
    <div data-block-id='updateChatsMenu'></div>
  </div>
</header>
<div class='chat-main__messages-list'>
  <div data-block-id='messagesList'></div>
</div>
<div class='chat-main__message-form'>
  <div data-block-id='messageForm'></div>
</div>
