.textarea {
  width: 90%;
  min-height: 3em;
  resize: none;
  font-size: 1rem;
  font-family: inherit;
  padding: 1em;
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  background-color: var(--gray-color);
}
