<h1 class='update-chats-form__title'>{{title}}</h1>
<div data-block-id='chatField'></div>
<button
  type='submit'
  class='update-chats-form__submit-button'
>{{title}}</button>
<div data-block-id='cancelButton'></div>
