<main class='chat'>
  <aside class='chat-sidebar'>
    <nav class='chat-sidebar__nav'>
      <a href='/profile' class='chat-sidebar__nav-link'>
        Профиль
      </a>
    </nav>
    <div class='temp-chat-data'>
      <p>Здесь будет список чатов</p>
    </div>
  </aside>

  <section class='chat-main temp-chat-data'>
    <p>Выберите чат чтобы отправить сообщение</p>
  </section>
</main>
