<nav class='chat-sidebar__nav'>
  <div class='chat-sidebar__nav-link-wrapper'>
    <div data-block-id='settingsLink'></div>
  </div>
  <div>
    <div data-block-id='searchForm'></div>
  </div>
</nav>
<div data-block-id='chatsList'></div>
<div class='chat-sidebar-footer'>
  <div data-block-id='createChatButton'></div>
</div>
