<nav class='chat-sidebar__nav'>
  <div class='chat-sidebar__nav-link-wrapper'>
    <a href='/profile' class='chat-sidebar__nav-link'>
      Профиль
    </a>
  </div>
  <div>
    <div data-block-id='searchForm'></div>
  </div>
</nav>
<div>
  <div data-block-id='chatsList'></div>
</div>
