.chat-sidebar {
  width: 30%;
  max-width: 360px;
  background-color: var(--sidebar-background-color);
  border-inline-end: 1px solid var(--gray-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
}

.chat-sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.75em;
}

.chat-sidebar__nav-link-wrapper {
  display: flex;
  justify-content: flex-end;
}

.chat-sidebar__nav-link {
  font-size: 0.9rem;
  color: var(--gray-dark-color);

  &:hover {
    text-decoration: underline;
  }
}

.chat-sidebar-footer {
  padding: 0.5em;
  background-color: var(--sidebar-background-color);
}

.chat-sidebar__create-buttton {
  width: 100%;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 0.75em;
  border-radius: 4px;
  font-size: 1rem;
  transition: opacity 0.2s;

  &:hover {
    opacity: 90%;
  }

  &:active {
    transform: scale(0.98);
  }
}
