:root {
  /* Mobile */
  --font-size: clamp(14px, 4vw, 16px);

  /* Tablet */
  @media (width >= 768px) {
    --font-size: clamp(16px, 2vw, 18px);
  }

  /* Laptop */
  @media (width >= 1024px) {
    --font-size: clamp(18px, 1.5vw, 20px);
  }

  /* Desktop */
  @media (width >= 1280px) {
    --font-size: clamp(20px, 1vw, 22px);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
}
