@import './theme.css';
@import '../pages/pages.css';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

a,
button {
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}
