<main>
  <h1>Привет Яндекс.Практикум!</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam obcaecati repudiandae blanditiis recusandae accusantium, iure itaque ipsa et? Iste, obcaecati! Animi ratione adipisci ab doloribus cupiditate sunt. Deserunt, itaque harum?</p>
</main>
