<main class='home'>
  <header class='home__header'>
    <h1 class='home__title'>Y-CHAT</h1>
  </header>
  <section class='home__content'>
    <p class='home__description'>
      Современное веб-приложение для легкой коммуникации.
    </p>
    <a
      href='/signin'
      class='home__button'
      aria-label='Перейти на страницу входа'
    >
      Начать общение
    </a>
  </section>
</main>
