<main class='home'>
  <header class='home__header'>
    <h1 class='home__title'>Y-CHAT</h1>
  </header>
  <p class='home__description'>
    Современное веб-приложение для легкого и приятного общения.
  </p>
  <a href='login' data-page='login' class='home__button'>Начать общение</a>
</main>
