.home {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__header {
  margin-bottom: 1em;
}

.home__title {
  width: 100%;
  font-size: 4rem;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.home__button {
  padding: 0.5em 1em;
  background: var(--primary-color);
  color: white;
  border-radius: 0.25em;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}
