<main class='signin'>
  <section class='auth-form__card'>
    <h1 class='auth-form__title'>Вход</h1>
    <form class='auth-form'>

      {{>
        formField
        label='Логин'
        id='login'
        name='login'
        type='text'
        placeholder='Логин'
        isRequired=true
        errorMessage='Введите логин'
      }}

      {{>
        formField
        label='Пароль'
        type='password'
        id='password'
        name='password'
        placeholder='Пароль'
        isRequired=true
        errorMessage='Неверный логин или пароль'
      }}

      <button type='submit' class='auth-form__button'>Войти</button>
    </form>
    <a
      href='/signup'
      class='auth-form__link'
      aria-label='Перейти к странице регистрации'
    >Зарегистрироваться</a>
  </section>
</main>
