<main class='signin'>
  <section class='signin__card'>
    <h1 class='signin__title'>Вход</h1>
    <form class='signin__form'>
      <div class='signin__field'>
        <label for='username' class='signin__label'>Логин</label>
        <input
          type='text'
          id='username'
          class='signin__input'
          placeholder='ivanivanov'
          required
        />
      </div>
      <div class='signin__field'>
        <label for='password' class='signin__label'>Пароль</label>
        <input
          type='password'
          id='password'
          class='signin__input'
          placeholder='••••••••'
          required
        />
      </div>
      <button type='submit' class='signin__button'>Авторизоваться</button>
    </form>
    <a href='/signup' class='signin__link' aria-label='Нет аккаунта?'>Нет
      аккаунта?</a>
  </section>
</main>
