.profile__info-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--light-gray-color);
}

.profile__action {
  display: inline-block;
  margin-top: 0.5em;
  font-size: inherit;
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
  }

  &.is-danger {
    color: var(--red-color);
  }
}
