<main class='error-page'>
  <header class='error-page__header'>
    <h1 class='error-page__code'>{{code}}</h1>
    <p class='error-page__description'>{{description}}</p>
  </header>
  <a
    href='/chat'
    class='error-page__link'
    aria-label='Назад к
    чатам'
  >Назад к чатам</a>
</main>
