<main class='error-page'>
  <header>
    <h1 class='error-page__title'>{{title}}</h1>
    <p class='error-page__description'>{{description}}</p>
  </header>
  <a href='chat' class='error-page__link'>Назад к чатам</a>
</main>
